<div id="wrapper">
  <img id="homeimage" src="images/aboutimage.jpg">
  <div id="realtalk">
    <p>D'EMILIO'S OLD WORLD ICE TREATS Masterfully Crafts The Finest, Most Decadent Small Batch Artisanal Water Ice For All Humankind. We Accept Your Surrender. </p>
  </div>
</div>
