<div id="wrapper">
   <img id="homeimage" src="images/flavorsimage.jpg">
   <div id="realtalk">
      <h1>FLAVORS</h1>
      <p>Cherry Vanilla</p>
      <p>Lemoncello</p>
      <p>Black Tribbles Berry</p>
      <p>Strawberry Apricot</p>
      <p>Chocolate N'oir</p>
      <p>Lychee Rosewater</p>
      <p>Wild Blueberry</p>
    </div>
</div>
