<html>
   <head>
      <title>D'Emilio's Old World</title>
      <link rel="stylesheet" href="home.css" type="text/css">
      <link href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
   </head>

   <body>
      <div id="wrapper">
         <img id="homeimage" src="images/flavorsimage.jpg">
         <div id="realtalk">
            <h1>FLAVORS</h1>
            <p>Cherry Vanilla</p>
            <p>Lemoncello</p>
            <p>Black Tribbles Berry</p>
            <p>Strawberry Apricot</p>
            <p>Chocolate N'oir</p>
            <p>Lychee Rosewater</p>
            <p>Wild Blueberry</p>
      </div>
      </div id="wrapper">
      <nav>
         <p><a href="home.html">Home</a></p>
         <p><a href="about.html">About</a></p>
         <p><a href="flavors.html">Flavors</a></p>
         <p><a href="contact.html">Contact</a></p>
    </nav>
   </body>
</html>
