<div id="wrapper">
   <img id="homeimage" src="images/homeimage.jpg">
</div>

<div id="reviews-list">
  <div class="review">
    <p>"This stuff is amazing!"</p>
    <p id="reviewer">Eddie Brennan</p>
  </div>
  <div class="review">
    <p>"It's the real deal."</p>
    <p id="reviewer">Trask Fontaine</p>
  </div>
  <div class="review">
    <p>"Where are you tonight?"</p>
    <p id="reviewer">Eileen Talanian. & Laura Carpenter Myers</p>
  </div>
  <div class="review">
    <p>"This is seriously the best I've ever had, and it's not even close!"</p>
    <p id="reviewer">Christopher Marrero</p>
  </div>
  <div class="review">
    <p>"Like sunshine in my mouth. Seriously the most amazing thing I've ever tasted."</p>
    <p id="reviewer">Julie Nicole</p>
  </div>
  <div class="review">
    <p>"This is like eating liquid gold with a little ice mixed in."</p>
    <p id="reviewer">Steve Oh</p>
  </div>
  <div class="review">
    <p>"You can taste the music in every bite!"</p>
    <p id="reviewer">Benjamin McDowell</p>
  </div>
</div>

<!-- <script src ="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="js/main.js" type="text/javascript"></script> -->
