<!DOCTYPE html>
<html>
  <head>
    <title>Demilio's</title>
    <link rel="stylesheet" href="css/home.css" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <%= yield %>
    <nav>
      <p><a href="/">Home</a></p>
      <p><a href="/about">About</a></p>
      <p><a href="/flavors">Flavors</a></p>
      <p><a href="/contact">Contact</a></p>
    </nav>
  </body>
</html>
