<!DOCTYPE html>
<html>
  <head>
    <title>Demilio's</title>
    <link rel="stylesheet" href="css/home.css" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <%= yield %>
    <div id="navbar">
      <ul>
         <li><a href="/">Home</a></li>
         <li><a href="/about">About</a></li>
         <li><a href="/flavors">Flavors</a></li>
         <li><a href="/contact">Contact</a></li>
      </ul>
   </div>
  </body>
</html>
