div#wrapper {
   display: flex;
   justify-content: center;
   text-align: center;
   max-width: 100%;
   height: 100%;
}
#homeimage {
   position: relative;
   width: 100%;
   height: 100%;
   margin-top: 0;
 }
 #realtalk {
    position: absolute;
    top: 80px;
    right: 20px;
    width: 35%;
    height: auto;
    font-family: "Slabo 27px", sans-serif;
    font-size: 1.5em;
    line-height: 1.3em;
    color: white;
    background: rgba(0, 0, 0, 0.5);
 }

nav {
  display: flex;
  align-self: flex-end;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  position: fixed;
  bottom: 0px;
  z-index: 2;
}

nav > p {
  padding: 10px;
  margin: 10px;
}

@fontface {
  font-family: "Hominis";
  src: url(font-family/HOMINIS-webfont.woff);
}

nav > p a {
  color: #d3d3d3;
  font-family: modernesans;
  font-size: 1.5em;
  text-decoration: none;
  font-family: "Hominis", sans-serif;
}

.form-box {
  position: absolute;
  z-index: 1;
  background: white;
  font-family: "Slabo 27px";
  text-align: left;
  margin-left: 25px;
  margin-top: 25px;
  height: 300px;
  width: 30%;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 10px 20px black;
}

.form-box > h2 {
  margin-top: 0px;
  text-align: center;
}

input {
  width: 50%;
}

textarea {
  width: 90%;
  height: 175px;
}

#button {
  width: 50px
}
